.editBtn{
    height: 30px;
    margin-left: 5px;
}
.searchBar2{
    margin-bottom: 4rem !important;
    margin-top: 6rem;
    margin: 0 auto;
    /* margin-bottom: 4rem; */
    margin-top: 4rem;
    display: block;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgb(45, 44, 44);
}
.revertBtn{
    color: white !important;
}
.adminEditTable{
    width: 42rem !important;
    margin: 0 auto;
    margin-bottom: 3rem !important;
    vertical-align: middle;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 15px rgb(45, 44, 44);
    border-radius: 5px !important;
}
.adminEditDiv{
    border: solid rgb(148, 146, 146) 1px;
    border-radius: 15px;
    background-color: rgb(148, 146, 146) ;
    width: 45rem;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10rem;
    display: block;
    vertical-align: middle;
    box-shadow: 5px 5px 15px rgb(45, 44, 44);
}
.selectPart{
    margin-top: 2rem;
}