.createNewPart{
    text-align: center;
    margin-top: 3rem;
}
.addPart{
    margin: 0 auto;
    margin-top: 7rem;
    display: block;
    border-radius: 5px;
    width: 250px;
    height: 28px;
}
.addPartBtn{
    display: block !important; 
    margin-left: 25rem !important;
    margin-top: -35px !important;

}
.centerBtn {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  