.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  display: flex;
  flex: 1 auto 1;
  margin: 0 0 30px;
  background-color: rgb(32, 115, 136);
  overflow: hidden;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: rgb(32, 115, 136);
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 900;
  margin-left: 11rem;
  margin-top: -10px;
  margin-bottom: 8px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.pageName{
  width: 75%;
  
}
.pageName h2{
  font-weight:100;
}

.nav-link:hover {
  background-color: rgb(52, 149, 173);
}
.participantNav{
  margin-bottom: -3rem;
  margin-top: 2rem;
}